{% extends 'base.html.twig' %}
{% block title %}Equips{% endblock %}
{% block body %}
    <h1>Llistat de equips</h1>
    {% if equips %}
        {% for equip in equips %}
        {{ include ('dades_equip.html.twig', { 'equip': equip }) }}
        {% endfor %}
    {% else %}
        <p>No s'han trobat equips</p>
    {% endif %}
{% endblock %}