
{% block body %}
    <h1 id="titolEquip">Nou Equip</h1>
    <div class="paragrafEquip">
        {{ form_start(formulari) }}
        {{ form_widget(formulari) }}
        {{ form_end(formulari) }}
    </div>
{% endblock %}